# this file contains global properties (host, ssh login) needed for the sync manager app

[config]
conf_dir=<directory with conf files>
var_dir=~/.syncmanager/var #directory for operation files
archive_dir_relative=<relative path to var_dir for archiving files>
# working environment for which the files should be synced (e.g. 'home', 'work', 'special',...)
# optional, can also be defined in environment variable with the same name
SYNC_ENV=home
org_default=default
retention_years = 2 # maximum number of years a repo can be inactive before it is excluded from the sync
refresh_rate_months = 6 # This rate defines the number of months where each repo is synced/refreshed at least once. It ensures return of repos that have not been synced in the recent time given by the refresh_rate.
build_and_cache =  build,cache,.gradle,gradle,gradle-wrapper.jar,__pycache__, .pytest_cache,out,target,package-lock.json
dependency_dirs = dist,node_modules,.venv,venv,vendor
skip_directories = contrib,.idea,lib,logs,.temp,tmp,temp,.tmp,var
skip_files_with_regex = .*\.iml$, .*\.lock$, .*\.egg-info$, access\.log
environment_files =  .buildpath,.DS_Store,
code_file_extensions = js, jsx, js.map, ts, tsx, py, pyc, java, kt, php
max_archive_filesize_MB = 10

[server]
API_HOST=myserver # hostname of syncing api
API_PORT=5010 # port of syncing api

[org_default]
API_USER=John
API_PW=secret

[ssh]
SSH_USER=syncmanager # see properties as configured for syncmanagerapi
SSH_HOST=myserver

[git_default]
user_default=Your git config user.name
email_default=your git config user.email