# this file contains global properties (host, ssh login) needed for the sync manager app

[config]
conf_dir=<directory with conf files>
var_dir=~/.syncmanager/var #directory for operation files
archive_dir_relative=<relative path to var_dir for archiving files>
# working environment for which the files should be synced (e.g. 'home', 'work', 'special',...)
# optional, can also be defined in environment variable with the same name
SYNC_ENV=home
org_default=default
retention_years = 2 # maximum number of years a repo can be inactive before it is excluded from the sync
refresh_rate_months = 6 # This rate defines the number of months where each repo is synced/refreshed at least once. It ensures return of repos that have not been synced in the recent time given by the refresh_rate.
build_and_cache = __pycache__, .pytest_cache, .gradle, gradle, build, out,target,poetry.lock,package-lock.json
dependency_dirs = .venv,venv,dist,node_modules
ignore_directories = .idea,lib,.temp,tmp,temp,.tmp,logs
build_artefacts = gradle-wrapper.jar
optional_files = access.log
environment_files =  .DS_Store
code_file_extensions = js, jsx, js.map, ts, tsx, py, pyc, java, kt, php
max_archive_filesize_MB = 10

[server]
API_HOST=myserver # hostname of syncing api
API_PORT=5010 # port of syncing api

[org_default]
API_USER=John
API_PW=secret

[ssh]
SSH_USER=syncmanager # see properties as configured for syncmanagerapi
SSH_HOST=myserver

[git_default]
user_default=Your git config user.name
email_default=your git config user.email