venv/
local/**
!local/.gitkeep
tests/local

poetry.lock

*.pyc
__pycache__/

instance/

# properties
application.cfg
**/.env
application.prod.cfg

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# deploy artifacts
syncmanagerapi.service



