server_port=5010
unix_user=syncman
install_dir=/opt/syncmanagerapi
hostname= # if not given internal network address is taken
db_schema_name=syncmanagerapi
db_user=syncmanager
db_host=localhost #hostname of the db server
db_port=3306  
dp_root_user=root