[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-dependency = "*"

[packages]
gunicorn = "*"
wheel = "*"
jinja2 = "*"
connexion = {extras = ["swagger-ui"],version = ">=2.14.2"}
syncmanagerapi = {editable = true,path = "."}
flask = "<=2.1.4"
# version 2.2.x possibly has a bug
SQLalchemy = "<=1.4"
# upgrade when Flask version > 2.3.x
flask-marshmallow = "==0.14.0"
marshmallow-sqlalchemy = "*"
marshmallow = ">=3.0.0"
mysqlclient = ">=1.4.6"
gitpython = "*"
python-dotenv = "*"

[requires]
python_version = "3"
