[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
wheel = "*"
configparser = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
passlib = "*"
bcrypt = "*"
connexion = {extras = ["swagger-ui"],version = "*"}

[requires]
python_version = "3"
