[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-dependency = "*"

[packages]
gunicorn = "*"
wheel = "*"
jinja2 = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
syncmanagerapi = {editable = true,path = "."}
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = ">=3.0.0"
mysqlclient = ">=1.4.6"
gitpython = "*"
python-dotenv = "*"

[requires]
python_version = "3"
