# this file contains global properties (host, ssh login) needed for the sync manager app

[config]
conf_dir={{ config_files_path }}
var_dir={{ var_dir_path }}
[server]
API_HOST=localhost
API_PORT=5000
API_USER=mock_user
API_PW=mock_pw
[ssh]
ssh_host=myserver
ssh_user=myusername