openapi: "3.0.0"
info:
  description: Swagger specification for syncmanager api
  version: "1.0.0"
  title: Swagger REST Article

servers:
  - url: "/api"
    description: "Base server URL"
paths:
  /syncdir:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
      operationId: "syncmanagerapi.client.api.create_syncdir"
      tags:
        - "File system"
      summary: "Creates directory for synchronization of files"
      description: ""
      responses:
        204:
          description: "Successfully created sync directory"
          content:
            application/json:
              schema:
                type: object
  /clientenv:
    post:
      operationId: "syncmanagerapi.client.api.add_client_env"
      tags:
      - "Client config"
      summary: "Adds environment descriptor for client side control of syncronization"
      description: ""
      responses:
        204:
          description: "Successfully added client environment entry"
  /git/repos:
    get:
      operationId: "syncmanagerapi.git.api.get_repos"
      tags:
      - "Git"
      summary: "Returns all associated Git repositories for all environments of the user"
      description: ""
      parameters:
      - name: full_info
        description: whether to provide full repo information.
        in: query
        schema:
          type: boolean
        required: false
      responses:
        200:
          description: "List of Git repositories"
    post:
      operationId: "syncmanagerapi.git.api.create_repo"
      tags:
      - "Git"
      summary: "Creates bare git repository"
      description: ""
      responses:
        204:
          description: "Successfully created git repository"
  /git/repos/{client_env}:  
    get:
      operationId: "syncmanagerapi.git.api.get_repos_by_clientenv"
      tags:
      - "Git"
      summary: "Returns all associated Git repositories"
      description: ""
      parameters:
      - name: client_env
        in: path
        description: env descriptor of the synchronization client
        schema:
          type: string
        required: true
      - in: query
        name: full_info
        description: whether to provide full repo information.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        200:
          description: "List of Git repositories"
  /git/repos/{repo_id}:
    parameters:
      - name: repo_id
        in: path
        description: identifier for the server repository
        schema:
          type: string
        required: true
    delete:
      operationId: syncmanagerapi.git.api.delete_repo
      summary: "Deletes the server repository"
      description: ""
      responses:
        204:
          description: "server repo deleted"
    patch:
      operationId: syncmanagerapi.git.api.update_repo
      summary: "Refreshes repo data"
      responses:
        200:
          description: "server repo updated"
  /git/repos/{repo_id}/{client_env}:
    put:
      operationId: "syncmanagerapi.git.api.update_repo_for_clientenv"
      tags:
      - "Git"
      summary: "Updates the client reference of server repository"
      description: ""
      parameters:
      - name: repo_id
        in: path
        description: identifier for the server repository
        schema:
          type: string
        required: true
      - name: client_env
        in: path
        description: env descriptor of the synchronization environment
        schema:
          type: string
        required: true
      responses:
        200:
          description: "Returns updated server repo reference"
    delete:
      operationId: syncmanagerapi.git.api.delete_repo_assoc_for_clientenv
      tags:
      - "Git"
      summary: "Deletes the client reference of server repository"
      description: ""
      parameters:
        - name: repo_id
          in: path
          description: identifier for the server repository
          schema:
            type: string
          required: true
        - name: client_env
          in: path
          description: env descriptor of the synchronization evironment
          schema:
            type: string
          required: true
      responses:
        204:
          description: "User git repo association deleted for the given environment"
      
  /admin/user:
    get:
      operationId: syncmanagerapi.admin.controller.get_standard_users
      tags:
        - "Admin interface"
      summary: "Return standard users for syncing files."
      responses:
        200:
          description: "List of standard users"
    post:
      operationId: syncmanagerapi.admin.controller.create_standard_user
      tags:
        - "Admin interface"
      summary: "Creates standard user syncing files."
      description: ""
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: "Successfully created user"
          content:
            application/json:
              schema:
                type: object
