[Unit]
Description=Syncmanager api
After=network.target

[Service]
User= {{ unix_user }}
Group={{ unix_group }}
WorkingDirectory={{ install_dir }}
ExecStart={{ install_dir }}/venv/bin/gunicorn --bind={{ hostname }}:{{ server_port }} syncmanagerapi.wsgi:app

[Install]
WantedBy=multi-user.target
